.form-container {
  width: 30%;
  margin-top: 20px;
  padding: 20px;
  margin-left: 500px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 50px 50px 50px 50px #00000018;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

label {
  display: inline-block;
  width: 130px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
select,
input[type="date"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 12px;
}

select {
  appearance: none;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.error-message {
  font-size: 10px;
  color: red;
}

.addResource-button {
  background-color: #157918;
  color: white;
  padding: 8px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 30px;
  margin-right: 50px; /* Add margin to separate from the dropdown */
}

.addResource-button:hover {
  background-color: #45a049;
}

.updateResource-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 30px;
}

.updateResource-button:hover {
  background-color: #45a049;
}
.cancelResource-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 30px;
}

.cancelResource-button:hover {
  background-color: #45a049;
}

.resource-filter {
  display: flex; /* Use flexbox */
  align-items: center;
}
.resource-controls {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.resource-filter label {
  margin-right: -25px;
}

.resource-filter select {
  width: 200px;
  padding: 7px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23444"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>'); /* Add custom arrow icon */
  background-repeat: no-repeat;
  background-position: right 8px center;
}
.report-button {
  background-color: #4c5f08;
  color: white;
  padding: 8px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}

.print-button {
  background-color: #0c446f;
  color: white;
  padding: 8px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 1150px;
 margin-right: 20px;
 
}
