.form-container {
  width: 30%;
  margin-top: 20px;
  padding: 20px;
  margin-left: 500px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 50px 50px 50px 50px #00000018;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

label {
  display: inline-block;
  width: 130px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
select,
input[type="date"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 12px;
}

select {
  appearance: none;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.error-message {
  font-size: 10px;
  color: red;
}


.addResource-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.addResource-button:hover {
  background-color: #45a049;
}