/* Style for Resource Table */
.resource-table-container {
  margin: 20px;
}

.resource-table {
  width: 98%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 20px;
}

.resource-table th {
  background-color: #f2f2f2;
  color: black; /* Text color for table headings */
}

.resource-table th:first-child {
  border-top-left-radius: 8px;
}

.resource-table th:last-child {
  border-top-right-radius: 8px;
}

.resource-table th,
.resource-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.resource-table tbody tr:hover {
  background-color: #ddd;
}

.resource-table button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.resource-table .action-column button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.resource-table .view-button:hover,
.resource-table .update-button:hover,
.resource-table .delete-button:hover {
  filter: brightness(85%);
}

.resource-table .view-button {
  background-color: rgb(203, 203, 69);
  color: black;
  border: 1px solid #b0bc30;
}

.resource-table .update-button {
  background-color: rgb(57, 153, 57);
  color: black;
  border: 1px solid #1f8620;
}

.resource-table .delete-button {
  background-color: rgb(198, 57, 57);
  color: black;
  border: 1px solid #e35538;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.modal-header h2 {
  font-weight: bold; /* Make the header text bold */
}

.close-button-container {
  background-color: rgb(199, 196, 196); /* Red background color */
  padding: 5px; /* Add some padding around the button */
  border-radius: 5px; /* Add rounded corners to the container */
}

.close-button {
  background: none;
  border: 2px solid black;
  cursor: pointer;
  font-size: 50px;
  width: 20px; /* Increase the width */
  height: 15px; /* Increase the height */
  color: rgb(3, 3, 3); /* Black text color */
   display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body p {
  margin-bottom: 5px; /* Add some spacing between paragraphs */
}

.update-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.update-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.search-container {
  display: flex;
  align-items: center;
  width: 3000px;
}

.search-wrapper {
  position: relative;
  margin-left: 1300px;
  margin-top: -150px;
  padding: 10px;
}

.search-input {
  width: 100%; /* Use 100% width to fill the container */
  padding: 8px;
  border: 1px solid black; /* Add black border */
  width: 500px;
  padding-right: 30px; /* Adjust based on icon width */
}

.search-icon {
  position: absolute;
  right: 20px; /* Adjust based on input padding */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
